.card__wrap {
  min-width: 320px;
  /*min-height: 480px;*/
  margin: 0 auto;
  padding: 4px;
  box-sizing: border-box;
  background-color: #1698D9;
  clip-path: polygon(42px 0, 100% 0, 100% 100%, 0 100%, 0 42px);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: stretch;
}