@import url(./vendor/normalize.css);

@font-face {
  font-family: 'Exo';
  src: url('./vendor/Exo2.0-Thin.otf') format('opentype');
}

.App {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: 'Exo', "Trebuchet MS", Arial;
  color: #FFFFFF;
  background-image: url("./image/Pattern@2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__header {
  font-size: 36px;
  line-height: 44px;
  margin: 36px 0 0;
}

.list {
  width: 100%;
  list-style: none;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 24px 0 67px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px 20px;
}

.list__item {
  width: 100%;
  margin: 0;
}

.card {
  width: 100%;
  font-family: Arial;
  color: #000;
}

.card__overview {
  width: max-content;
  margin: 0 auto;
}

.card__wrap {
  max-width: 320px;
  min-height: 480px;
  margin: 0 auto;
  padding: 4px;
  box-sizing: border-box;
  background-color: #1698D9;
  clip-path: polygon(42px 0, 100% 0, 100% 100%, 0 100%, 0 42px);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.card__wrap_selected {
  background-color: #E52E7A;
}

.card__wrap_unavailable {
  background-color: #B3B3B3;
  cursor: default;
}

.card__container {
  width: 100%;
  min-height: 472px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  clip-path: polygon(41px 0, 100% 0, 100% 100%, 0 100%, 0 41px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #B3B3B3;
}

.card__overview_unavailable {
  opacity: 0.5;
}

.card__image {
  width: 320px;
  height: 320px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("./image/cat.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
}

.card__image_unavailable {
  opacity: 0.5;
}

.card__epigraph {
  margin: 17px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666;
  text-align: left;
}


.card__epigraph_unavailable {
  color: #B3B3B3;
}

.card__header {
  margin: 5px 0 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
}

.card__subheader {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.card__description {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #666;
}

.card__description_unavailable {
  color: #B3B3B3;
}

.card__weight {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  border-radius: 40px;
  background-color: #1698D9;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.card__weight_unavailable {
  background-color: #B3B3B3;
}

.card__weight_selected {
  background-color: #1698D9;
}

.card__weight-value {
  margin: 0;
  font-weight: 400;
  font-size: 42px;
  line-height: 42px;
}

.card__unit {
  margin: 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;
}

.card__capture {
  margin: 14px 0 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  cursor: default;
}

.card__action {
  color: #1698D9;
  cursor: pointer;
}
